<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        2018 @Takuya Yamakawa
        <div id="social-icon">
          <a href="https://www.facebook.com/profile.php?id=100005504384938"><i class="fa fa-facebook fa-2x"></i></a>
          <a href="https://www.instagram.com/y_takuya1206/"><i class="fa fa-instagram fa-2x"></i></a>
          <a href="https://github.com/takuyamakawa"><i class="fa fa-github fa-2x"></i></a>
        </div>
      </div>
    </div>
  </footer>
</html>
